<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

<body>
    
    <%- include('partials/navbar') %>

    <div class="container mt-5">

        <div class="row">
            <div class="col-12">
                <a href="/question" class="btn btn-primary">New question</a>
            </div>            
        </div> 

        <hr>
        
        <div class="row">
            <div class="col-12">
                <% if (questions.length !== 0) { %>
                    <% questions.forEach(question => { %>                            
                        <div class="card">
                            <div class="card-body">
                                <h3> <%= question.title %> </h3>
                            </div>
                            <div class="card-footer">
                                <a href="/detail/question/<%= question.id %>" class="btn btn-primary">Anwser</a>
                            </div>
                        </div>    
                    <% }); %>
                <% } else { %>
                    <div class="card">
                        <div class="card-body">
                            <h3> Empty content! </h3>
                        </div>                
                    </div> 
                <% } %>
            </div>
        </div>
    </div>

    <%- include('partials/footer') %>
    
</body>
</html>